{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%block css%}
    {%endblock%}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Shalom</title>
</head>
<body>
    {%block nav%}
    {%endblock%}
    
    {%block jumbo%}
    {%endblock%}
    <div class="container" style="margin: 0px 30px;">
    {%block content%}
    {%endblock%}
    </div>
    {%block footer%}
    {%endblock%}
    
</body>
</html>