{% extends "menu/base.html" %}
{% load static %}

{%block css%}
<link rel="stylesheet" type="text/css" href=" {% static 'menu/base.css' %} ">
{%endblock%}

{%block nav%}
<nav class="navbar navbar-light bg-light">
      <a class="navbar-brand" href="/">
        <img src="{%static 'menu/img/shalom_logo.png'%}" width="70" height="50" class="d-inline-block align-top" alt="">
      </a>
      <ul class="nav ml-auto nav-pills">
          <li class="nav-item">
            <a class="nav-link active bg-secondary m-1 p-2" href="#">services</a>
          </li>
          
          <li>
              <a class="nav-link active m-1 bg-secondary p-2" href="#">login</a>
          </li>
        </ul>
    </nav>
{%endblock%}

{%block jumbo%}
<div class="jumbotron" style="background-image: url('/static/menu/img/githeri.jpg');">
   <h1>Shalom Best Foods</h1>
   <hr class="my-4">
   <p class="lead">Come Dine with us!</p>
   <button type="button" class="btn btn-outline-secondary">
       <a href="menu/">Order</a>
   </button>
</div> 
{%endblock%}

{%block content%}
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repudiandae molestiae porro, eaque facere odit labore optio soluta rerum officia voluptatum qui fuga nulla quam, cumque iste. Quam, eos? Voluptatibus, similique!</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit deserunt recusandae sapiente quos laborum exercitationem, ipsum assumenda repudiandae unde, nesciunt, vel perferendis quidem doloribus numquam eligendi illo earum fuga minima!</p>
{%endblock%}

{%block footer%}
<footer>
    <p>@2020 ShalomⒸ</p>
</footer>
{%endblock%}
